

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
   
    <div>
        <h1>What is Splitwise?</h1>
        Splitwise is a Providence, RI based company that makes it easy to split bills with friends and family. We organize all your shared expenses and IOUs in one place, so that everyone can see who they owe. Whether you are sharing a ski vacation, splitting rent with roommates, or owe someone for lunch, Splitwise makes life easier. We store data “in the cloud,” so that you can access it anywhere: on iPhone, Android, or on your computer.
        <h2>We focus on fairness</h2>
        Most people want to be fair to each other, but sometimes they forget, or can’t decide on what fair is. In addition to helping people honor their debts, we provide mediation advice about fairness issues through our “fairness calculators.” These calculators turn our crowdsourced data into a neutral fairness opinion about your personal situation.
    </div>
    <div>
        <h2>The Splitwise team</h2>
        <table>
            <tr>
                <td></td>
                <td><img src="~/images/AsifPic.png" /></td>                
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><b>Asif Kalam</b> .NET Developer</td>                
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Asif had done BTech from NIT Hamirpur. Now he builds cool apps on .NET framework. His hobbies are playing guitar, trekking, partying</td>                
                <td></td>
            </tr>
            <tr>
                <td><img src="~/Images/JonathanB.png" /></td>
                <td><img src="~/Images/RyanL.png" /></td>
                <td><img src="~/Images/MarshallW.png" /></td>
            </tr>
            <tr>
                <td><b>Jonathan Bittner</b> CEO</td>
                <td><b>Ryan Laughlin</b> Web & design</td>
                <td><b>Marshall Weir</b> iOS & Android</td>
            </tr>
            <tr>
                <td>Jon is a former astrophysics grad student at Harvard who thinks quantitative fairness is pretty fun. He loves surveys, wombats, and his wife, Rebecca.</td>
                <td>Ryan was a CS major at Yale. Now he builds cool stuff for you! When not staring at a screen full of Ruby or CSS, he enjoys drumming, singing, nonograms, and working on strange art projects.</td>
                <td>Marshall is a mobile developer who has worked for Mobiata and other awesome companies. In his spare time he is a glass-blower and a board game enthusiast.</td>
            </tr>
            <tr>
                <td><img src="~/images/zoe.png" /></td>
                <td><img src="~/images/novall.png" /></td>
                <td><img src="~/images/aaron.png" /></td>
            </tr>
            <tr>
                <td><b>Zoe Chaves</b> Product manager</td>
                <td><b>Novall Khan</b> iOS developer</td>
                <td><b>Aaron Rosenberg</b> Full-stack developer</td>
            </tr>
            <tr>
                <td>Zoe joined Splitwise in 2013. Previously she was an undergrad at Brown, pursuing a degree in architecture and urban planning. In her spare time Zoe likes to read, cook, and stay on the look out for important dogs.</td>
                <td>Novall is an iOS developer and HCI researcher. For fun, she likes to memorize digits of pi, practice her free throws, and sketch narwhal bacons in notebook margins.</td>
                <td>Aaron is a full stack developer who has been working with Rails and JavaScript forever (or the tech world's equivalent of forever). This is Aaron's second startup and he has worked with many from his agency days.</td>
            </tr>
        </table>
    </div>
</body>
</html>
