

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contact</title>
</head>
<body>
    <div>
        <h1>Splitwise feedback and helpdesk</h1>
        Welcome to the Splitwise community site! Let us know about <a href ="http://feedback.splitwise.com/forums/162446-general"> feature requests</a>. We check these forums every day, and try to respond within 24-48 hours.<br />
        To Know more click <a href="http://feedback.splitwise.com/"> here</a>       
    </div>
    <div><br /></div>
    
    <div class="col_w960 col_w960_last">
		
            <div class="col_w450 float_l">
           	  	<h3>Quick Contact Form</h3>
              	<div id="cp_contact_form">
				
                    <form method="post" name="contact" action="#"> 
	
						<label for="author">Name:</label> 
                        <input name="author" type="text" class="required input_field" id="author" maxlength="40" /> 
					  <div class="cleaner h10"></div> 
	
						<label for="email">Email:</label> 
                    <input name="email" type="text" class="validate-email required input_field" id="email" maxlength="40" /> 
					  <div class="cleaner h10"></div> 
	
						<label for="subject">Subject:</label> 
                  <input name="subject" type="text" class="validate-subject required input_field" id="subject" maxlength="80"/> 
					  <div class="cleaner h10"></div> 
	
						<label for="text">Message:</label> 
                <textarea id="text" name="text" rows="0" cols="0" class="required"></textarea> 
						<div class="cleaner h10"></div>                
	
						<input type="submit" value="Send" id="submit" name="submit" class="submit_btn float_l" /> 
						<input type="reset" value="Reset" id="reset" name="reset" class="submit_btn float_r" /> 
	
					</form>
    
            	</div>
            </div>
            
            <div class="col_w450 float_r" id="map">
            	<h3>Our Location</h3>
                <a href="/splitwise/images/map_big.jpg" title="Our Location">
                    <img src="/splitwise/images/map_thumb.jpg" alt="Map" />
                </a>

				<div class="cleaner h30"></div>
                                
                <h3>Our Address</h3>
                <h6>Bangalore</h6>
                Electronics City<br /><br />
				
                Tel: 000-000-0000<br />
				Fax: 000-000-0000<br />
            </div>
            
            <div class="cleaner"></div>
		</div>
    <div>
        Cheers,<br />
        – The Splitwise team
    </div>
        
        <div class="cleaner"></div>
</body>
</html>
